:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* styles/MyComponent.module.css */
@font-face {
  font-family: "Brocha W00 Regular";
  src: url("https://db.onlinewebfonts.com/t/d02704bcbf6645d6a315fffd1ce9a296.eot");
  src: url("https://db.onlinewebfonts.com/t/d02704bcbf6645d6a315fffd1ce9a296.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/d02704bcbf6645d6a315fffd1ce9a296.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/d02704bcbf6645d6a315fffd1ce9a296.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/d02704bcbf6645d6a315fffd1ce9a296.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/d02704bcbf6645d6a315fffd1ce9a296.svg#Brocha W00 Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Palatino Linotype";
  src: url("../app/fonts/palatinolinotype_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.landing-page-heading{
  position: relative;
  margin-top: 70px;
  font-family: "Palatino Linotype";
  padding: 30px 8px;
}
.landing-page-heading::before{
  content: '';
  display: block;
  width: 150px;
  height: 5px;
  background-color: #87B79D;
  position: absolute;
  top: 0;
}
.collapsible {
  transition: height 0.5s ease-out;  /* Smooth transition for height */
  overflow: hidden;  /* Hide content when collapsed */
  height: auto;  /* Start with auto height */
}

.collapsed {
  height: 0!important;  /* Collapsed state (height 0) */
}
.tracked-section{
  position: relative;
}
.nav-bar{
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #dadada;
  z-index: 99999999;
  font-family: "Brocha W00 Regular", sans-serif;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.left-column {
  width: 15px;
  height: 100vh;
  background-repeat: repeat-y; /* Repeats the SVG vertically */
  background-size: 15px auto; /* Keeps the width at 50px */
}
.landing-image {
  background-image: url('/landingpage.jpg');
  background-size: cover;  /* Auto width, full height */
  background-position: center;  /* Optional: centers the image */
  width: 100%;   /* Makes the container take the full width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 130px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Brocha W00 Regular", sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
